
*{
    margin: 0;
    padding: 0;
    vertical-align: 0;
}

.form{
    display:inline-flex
 
}

.box1{
    display: flex
width: 250px;
height: 400px;
border: 10px solid rgb(243, 243, 111);
box-shadow: 10px 10px blue;
padding: 10px 10px;
margin: 20px 20px 20px 20px;
}


.box2{
    display: inline-block;
    width: 250px;
    height: 200px;
    border: 10px solid green;
    box-shadow: 10px 10px blue;
    padding: 10px 10px ;
    margin: 20px 20px 20px 20px;
}


.box3{
    display: inline-block;
    width: 250px;
    height: 500px;
    border: 10px solid rgb(243, 243, 111);
    box-shadow: 10px 10px blue;
    padding: 10px 10px;
    margin: 20px 20px 20px 20px;

}

.span {
    color: red;

}

.box4{
    display: inline-block;
    width: 250px;
    height: 250px;
    border: 10px solid green;
    box-shadow: 10px 10px blue;
    padding: 10px 10px;
    margin: 20px 20px 20px 20px;

}

.inputgroup {
 margin-top: 10px;
 margin-bottom: 10px;
}